# Byggmapper
bin/
obj/
[Bb]uild/
[Oo]ut/

# Brukerspesifikke filer
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio / VS Code
.vs/
.vscode/

# Logger og midlertidige filer
*.log
*.tmp
*.cache
*.pdb

# Pakker og avhengigheter
packages/
node_modules/

# Publiseringsmapper
wwwroot/
dist/

# OS-filer
Thumbs.db
.DS_Store
